<%- include('./partials/layout-start', {title: title}) %> <%- include('./partials/menu', {isLogin: isLogin}) %>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="font-size: 5rem">Library</h1>
        </div>
    </div>
</div>

